*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    height: 840px;
    width: 340px;
    background-color: azure;
    border: 1px solid red;
}