*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.Outer{
    width: 340px;
    height: 100vh;
  
}
.title{
    font-size: 30px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.passTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 24px;
}
.formOuter{
    display: flex;
    justify-content: center;
}
.password{
    border-radius: 5px;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}
.passConfirm{
    border-radius: 5px;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}

.confirmBtn{
    display: flex;
    justify-content: center;
    align-items : center;
    padding: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.confirmBtn:hover{
    color: rgb(235, 243, 249);
    background-color: #007bff;
    transition-duration: 0.4s;
}  