*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 50px 10px;
}
.app {
    height: 840px;
    width: 340px;
   
}

h1{
    text-align: center;
}

.sign{
    width: 280px;
    margin-left: 30px;
    height: 50px;
    border:none;
   
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    transition-duration: 0.4s;
}

.sign:hover{
    color: rgb(235, 243, 249);
    background-color: #007bff;
}
.Or{
    font-size: 20px;
    padding: 5%;
}
.GoogleSignUp{
    width: 280px;
    margin-left: 30px;
    cursor: pointer;
    background-color: #E1ECC8;
    color: #A0C49D;
    height: 50px;
    font-size: 24px;
}
.GoogleText{
    font-size: 20px;
}
.GoogleSignUp:hover{
    background-color: #C4D7B2;
}
.GoogleIcon{
    size: 50px;
}